
header h1{
    text-align: center;
}

nav{
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}

nav a{
    text-decoration: none;
}
nav a:hover{
    color: black;
    cursor: pointer;
}
.food{
    width: 50em;
    height:50em;
}
.food1{
    width:50em;
    height:50em;
}
.food2{
    width:50em;
    height:50em;
}
.food3{
    width:50em;
    height:50em;
}
.food4{
    width:50em;
    height:50em;
}
.drinks{
    width:50em;
    height:50em;
}
.drinks1{
    width:50em;
    height:50em;
}